<extend name="Common:layout"/>
<block name="seo">
   <title>搜索页-{$Think.config.SITE_WEB_NAME}-{$Think.config.SITE_INDEX_DESCRIPTION}</title>
   <meta name="keywords" content="{$Think.config.SITE_KEYWORDS}">
   <meta name="description" content="{$Think.config.SITE_DESCRIPTION}">
</block>
<block name="css"></block>
<block name="content">
<div class="col-8" id="main">
	<div class="res-nav"><p>{$keyword}搜索结果:</p></div>
	<div class="res-cons">
		<foreach name="posts" item="v">
			<article class="post">
				<header>
					<h2 class="post-title">
						<a href="{:U('/Index/' . $v['id'])}" title="{$v.post_title}">{$v.post_title|str_ireplace="$keyword","<span>$keyword</span>",###}</a>
					</h2>
				</header>
			</article>
		</foreach>
		{$show}
	</div>
</div>
</block>
<block name="js"></block>