<extend name="Public:layout"/>
<block name="seo">
   <title>添加分类</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
</block>
<block name="css">
   <link rel="stylesheet" href="__PUBLIC__/plugins/icheck/css/_all.css">
</block>
<block name="content">
<div class="row">
   <div class="col-md-12">
      <ul class="breadcrumb">
         <li><a href="{:U('Admin/Index/index')}">首页</a></li>
         <li><a href="{:U('Admin/Category/index')}">分类管理</a></li>
         <li class="active">添加分类</li>
      </ul>
   </div>
   <div class="col-md-12">
      <div class="panel panel-default">
         <div class="panel-heading"><h3 class="panel-title">添加分类</h3></div>
         <div class="panel-body">
            <form class="form-horizontal form-border" id="addCategofy" action="{:U('Admin/Category/addCategoryForm')}" method="post">
               <div class="form-group has-feedback">
                  <label class="col-sm-3 control-label">分类名称</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="name">
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <label class="col-sm-3 control-label">分类别名</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="slug">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label">图片描述</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="description">
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <label class="col-sm-3 control-label">排序</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="sort" value="100">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-4">
                     <input type="hidden" name="parent" value="{$parent}">
                     <input type="hidden" name="taxonomy" value="0">
                     <input type="submit" class="btn btn-primary btn-block" id="addRule" value="提交">
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</block>
<block name="js">
<script src="__PUBLIC__/plugins/icheck/js/icheck.min.js"></script>
<script src="__PUBLIC__/plugins/validation/js/jquery.validate.min.js"></script>
<script>
   $(document).ready(function() {
      $('input').iCheck({
         checkboxClass: 'icheckbox_flat-grey',
         radioClass: 'iradio_flat-grey'
      });
      $.validator.addMethod("az", function(value, element, param){
         if(value>=param[0] && value<=param[1]) {
            return true;
         } else {
            return false;
         }
      }, "必须是英文字母!")
      $("#addCategofy").validate({
         errorClass : "help-block",
         errorElement : "p",
         rules : {
            name : {required : true, rangelength : [2, 8]},
            slug : {required : true, rangelength : [2, 12], az : ["a", "z"]},
            sort : {digits: true},
         },
         highlight : function(element) {
            $(element).closest('.form-group').removeClass('success').addClass('has-error');
            $(element).after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
         },
         success : function(element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            element.siblings("span").remove();
            element.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
         },
         messages : {
            name : {required : "分类名称不能为空!", rangelength : "名称长度只能在2-8个字符之间!"},
            slug : {required : "分类别名不能为空!", rangelength : "别名长度只能在2-12个字符之间!",},
            sort : {digits : "排序只能是数字!",},
         },
         submitHandler : function(form){
            $(form).submit();
         }
      });
   });
</script>
</block>