<!--菜单开始-->
<aside class="sidebar">
   <div id="leftside-navigation" class="nano">
      <ul class="nano-content" id="home_nav">
         <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i><span>首页</span></a></li>
         <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-book"></i><span>文章管理</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
               <li><a href="{:U('Admin/Articles/index')}">文章列表</a></li>
               <li><a href="{:U('Admin/Articles/addArticle')}">写文章</a></li>
               <li><a href="{:U('Admin/Articles/trash')}">垃圾箱</a></li>
               <li><a href="{:U('Admin/Comments/index')}">评论列表</a></li>
               <li><a href="{:U('Admin/Articles/property')}">属性列表</a></li>
               <li><a href="{:U('Admin/Articles/addProperty')}">添加属性</a></li>
            </ul>
         </li>
         <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-list-ul"></i><span>分类管理</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
               <li><a href="{:U('Admin/Category/index')}">分类列表</a></li>
               <li><a href="{:U('Admin/Category/addCategory')}">添加分类</a></li>
               <li><a href="{:U('Admin/Category/tags')}">标签列表</a></li>
               <li><a href="{:U('Admin/Category/addTag')}">添加标签</a></li>
            </ul>
         </li>
         <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-users"></i><span>用户管理</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
               <li><a href="{:U('Admin/User/index')}">用户列表</a></li>
               <li><a href="{:U('Admin/User/addUser')}">添加用户</a></li>
               <li><a href="{:U('Admin/User/group')}">角色列表</a></li>
               <li><a href="{:U('Admin/User/addGroup')}">添加角色</a></li>
               <li><a href="{:U('Admin/User/rule')}">规则列表</a></li>
               <li><a href="{:U('Admin/User/addRule')}">添加规则</a></li>
            </ul>
         </li>
         <li class="sub-menu">
            <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>系统设置</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            <ul>
               <li><a href="{:U('Admin/System/index')}">基本设置</a></li>
               <li><a href="{:U('Admin/System/comment')}">评论设置</a></li>
               <li><a href="{:U('Admin/System/page')}">分页设置</a></li>
               <li><a href="{:U('Admin/System/upload')}">上传设置</a></li>
               <li><a href="{:U('Admin/System/verify')}">验证码设置</a></li>
            </ul>
         </li>
      </ul>
   </div>
</aside>
<!--菜单结束-->