<extend name="Common:layout"/>
<block name="seo">
   <title>首页</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
</block>
<block name="css"></block>
<block name="content">
<div class="col-8" id="main">
	<div class="res-cons">
		<article class="post">				
			<date class="post-meta">2015-12-11</date>
			<header>
				<h2 class="post-title">
					<a href="">测试文章</a>
				</h2>
			</header>
			<div class="post-content">
				测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章测试文章
				<p class="more"><a href="">- 阅读剩余部分 -</a></p>
			</div>
		</article>
	</div>
</div>
</block>
<block name="js"></block>