<extend name="Public:layout"/>
<block name="seo">
   <title>修改用户</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
</block>
<block name="css">
   <link rel="stylesheet" href="__PUBLIC__/plugins/icheck/css/_all.css">
</block>
<block name="content">
<div class="row">
   <div class="col-md-12">
      <div class="panel panel-default">
         <div class="panel-heading"><h3 class="panel-title">修改用户</h3></div>
         <div class="panel-body">
            <form class="form-horizontal form-border" id="addUser" action="{:U('Admin/User/updateUserForm', ['id' => $user['id']])}" method="post">
               <div class="form-group has-feedback">
                  <label class="col-sm-3 control-label">账号</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" readonly="readonly" name="username" value="{$user.username}">
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <label class="col-sm-3 control-label">邮箱</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="email" value="{$user.email}">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label">密码</label>
                  <div class="col-sm-6">
                     <input type="password" class="form-control" name="password" value="">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label">昵称</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="display_name" value="{$user.display_name}">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label">简介</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="description" value="{$user.description}">
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <label class="col-sm-3 control-label">状态</label>
                  <div class="col-sm-6">
                     <input type="text" class="form-control" name="status" value="{$user.status}">
                  </div>
               </div>
               <div class="form-group has-feedback">
                  <label class="col-sm-3 control-label">角色</label>
                  <div class="col-sm-6">
                  	<foreach name="group" item="v">
                        <label class="radio-inline">
                           <input class="iradio" type="radio" name="group" value="{$v.id}" <if condition="$v['id'] eq $group_id">checked</if>>{$v.title}
                        </label>
                     </foreach>
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-sm-3 control-label">上传头像</label>
                  <div class="col-sm-3">
                     <if condition="$user.avatar eq ''"><img src="__PUBLIC__/img/default-avatar.png" id="avatarimg"><else/><img src="{$user.avatar}" width="200" id="avatarimg"></if>
                  </div>
                  <div class="col-sm-5">
                     <label for="uploadAvatar">从您的计算机选择头像:</label>
                     <input type="file" id="uploadAvatar" name="upload" class="btn">
                     <a class="btn btn-default btn-square" href="#" role="button">从资料库选择</a>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-4">
                     <input type="hidden" name="id" value="{$user.id}">
                     <input type="hidden" name="avatar" id="avatar">
                     <input type="submit" class="btn btn-primary btn-block" id="addRule" value="提交">
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</block>
<block name="js">
<script src="__PUBLIC__/plugins/icheck/js/icheck.min.js"></script>
<script src="__PUBLIC__/plugins/validation/js/jquery.validate.min.js"></script>
<script>
   $(document).ready(function() {
      $('input').iCheck({
         checkboxClass: 'icheckbox_flat-grey',
         radioClass: 'iradio_flat-grey'
      });
      $("#addUser").validate({
         errorClass : "help-block",
         errorElement : "p",
         rules : {
            username : {required : true, rangelength : [6, 12]},
            email : {required : true, email : true},
            status : {required : true, range : [1, 10]},
         },
         highlight : function(element) {
            $(element).closest('.form-group').removeClass('success').addClass('has-error');
            $(element).after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
         },
         success : function(element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            element.siblings("span").remove();
            element.after('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>');
         },
         messages : {
            username : {required : "账号不能为空!", rangelength : "账号长度只能在6-12个字符之间!"},
            email : {required : "邮箱不能为空!", email : "请输入正确的邮箱格式!"},
            status : {required : "状态不能为空!", range : "状态值只能在1-10之间!"},
         },
         submitHandler : function(form){
            $(form).submit();
         }
      });
      $("#reset").click(function(){
         validator.resetForm();
      });
      //文件上传
      $("#uploadAvatar").change(function(){
         if($(this).val() == ""){
            $(this).after('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
            return false;
         }
         var formData = new FormData($("#addUser")[0]);
         $.ajax({
            url: "{:U('Admin/User/upload')}",
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function(data){
               console.log(data);
               if (data.status) {
                  $("#avatar").val(data.info);
                  $("#avatarimg").attr("src", data.info);
                  $("#uploadAvatar").after("<p class='help-block'>上传成功</p>");
               } else {
                  $("#uploadAvatar").after("<p class='help-block'>" + data.msg + "</p>");
                  return false;
               }
            },
            error : function(XMLHttpRequest, textStatus){
               alert(textStatus);
               return false;
            }
         })
      })
   });
</script>
</block>