<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!--head开始-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="/Public/img/favicon.ico" type="image/x-icon">
	<!--百度站长-->
	<meta name="baidu-site-verification" content="kGlipHEeQk" />

	<title>忘了爱博客</title>
	<meta name="keywords" content="忘了爱博客,PHP,HTML,JS,MySQL,Linux,PHP教程,PHP博客,PHP代码交流,PHP新闻,PHP项目,PHP+MYSQL,Thinkphp教程">
	<meta name="description" content="忘了爱博客主要以PHP编程开发资源分享技术交流为主的PHP中文博客专业网站，向PHP开发人员提供：最新PHP资讯、原创内容、开发资料,技术手册,开源代码和PHP视频教程等相关内容。">

	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<![endif]-->
	<!-- Fonts from Font Awsome -->
	<link rel="stylesheet" href="/Public/static-index/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://cdn.staticfile.org/normalize/3.0.1/normalize.min.css">
	<link rel="stylesheet" href="/Public/static-index/css/style.css">

	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.11.0/jquery.min.js"></script>
	<!--百度统计-->
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?895fc1feda2224c092cce3ac0c36c324";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<!--百度自动提交链接-->
	<script>
		(function(){
			var bp = document.createElement('script');
			bp.src = '//push.zhanzhang.baidu.com/push.js';
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(bp, s);
		})();
	</script>
	<!--head结束-->
<body>
<div class="move-block">
	<!-- nav开始 -->
	<header id="header" class="clearfix">
		<div class="container">
			<div class="col-group">
				<div class="site-name">
					<a id="logo" href="/">忘了爱博客</a>
					<h1>忘了爱博客</h1>
					<p class="description">忘了爱，专心写代码</p>
				</div>
				<div>
					<nav id="nav-menu" class="clearfix">
						<ul class="nav nav-pills">
							<li role="navigation" ><a href="/" title="首页">首页</a></li>
							<li role="navigation">
								<a href="/index/c_1.html" title="PHP">PHP</a>
							</li><li role="navigation">
							<a href="/index/c_2.html" title="HTML">HTML</a>
						</li><li role="navigation">
							<a href="/index/c_3.html" title="JS">JS</a>
						</li><li role="navigation">
							<a href="/index/c_4.html" title="MySQL">MySQL</a>
						</li><li role="navigation">
							<a href="/index/c_5.html" title="Linux">Linux</a>
						</li><li role="navigation">
							<a href="/index/c_6.html" title="其他">其他</a>
						</li>					</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="side-click icon-arrow-down"></div>
	<!-- nav结束 -->
	<div id="body">
		<div class="container">
			<div class="col-group">
				<!--内容区开始-->
				<div class="col-8" id="main">
					<div class="res-cons">
						<h1 class="aligncenter" style="text-align: center;">该页面不存在~</h1>
						<h1 class="aligncenter" style="text-align: center;">该页面不存在~</h1>
						<h1 class="aligncenter" style="text-align: center;">该页面不存在~</h1>
						<h1 class="aligncenter" style="text-align: center;">重要的事情说三遍~</h1>
					</div>
				</div>
				<!--内容区结束-->
			</div>
		</div>
	</div>
	<!-- foot开始 -->
	<footer id="footer">
		<div class="container">
			Copyright © 2015-2020 WANGLEAI. <a href='http://www.lqmo.cn' target='_blank' title='芊茉科技'>芊茉科技</a> 版权所有<br/>
			浙ICP备15023657号-2	</div>
	</footer>
	<!-- foot结束 -->
</div>
<div class="site-search">
	<script type="text/javascript" src="/Public/static-index/js/index.js"></script>
	<script type="text/javascript">
		if (window!=top){top.location.href = window.location.href;}
	</script>
</div>
</body>
</html>