<!-- nav开始 -->
<header id="header" class="clearfix">
	<div class="container">
		<div class="col-group">
			<div class="site-name">
				<a id="logo" href="__MODULE__">忘了爱</a>
				<h1>忘了爱</h1>
				<p class="description">这是什么鬼</p>
			</div>
			<div>
				<nav id="nav-menu" class="clearfix">
					<ul class="nav nav-pills">
						<li role="navigation" class="current"><a href="__MODULE__">首页</a></li>
						<navigation limit="10" order="sort">
							<li role="navigation">
								<a href="{$url}">{$name}</a>
								<if condition="$child">
								<ul class="dropdown-menu">
									<?php foreach($child as $v) :?>
									<li><a href="{:U('/Index/c_' . $v['id'])}">{$v.name}</a></li>
									<?php endforeach;?>
								</ul>
								</if>
							</li>
						</navigation>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div class="side-click icon-arrow-down"></div>
<!-- nav结束 -->